---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="SBM - i nostri prodotti">
  <div class="flex items-center justify-center h-screen">
    <h1 class="text-3xl text-purple-800">Prodotti</h1>
  </div>
</Layout>
