@import "tailwindcss";

@theme {
  --color-white: #fff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-purple: #753bbd;
  --color-midnight: #26336a;
  --breakpoint-fbp: 1431px; /* footer breakpoint */
}

@font-face {
  font-family: Acumin;
  src: url("../assets/fonts/AcuminVariableConcept.otf") format("otf");
}

.white-image {
  filter: brightness(0) invert(1);
}

.stylenav-white {
  @apply h-px w-[30px] inline-block bg-white group-hover:w-full group-hover:brightness-150 group-hover:contrast-150 group-hover:shadow-[0_0_5px_var(--color-white-80)] transition-all duration-[0.3s] ease-[ease-out] brightness-100 contrast-100 mx-auto my-1 border-0;
}
