@import "tailwindcss";

@theme {
  --color-white: #fff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-sbm-purple: #753bbd;
  --color-midnight: #1b2d70;
  --breakpoint-fbp: 1431px; /* footer breakpoint */
}

@font-face {
  font-family: Acumin;
  src: url("../../public/fonts/AcuminVariableConcept.otf") format("otf");
}

.white-image {
  filter: brightness(0) invert(1);
}

.stylenav-white {
  @apply h-px w-[30px] inline-block bg-white group-hover:w-full group-hover:brightness-150 group-hover:contrast-150 group-hover:shadow-[0_0_5px_var(--color-white-80)] transition-all duration-[0.3s] ease-[ease-out] brightness-100 contrast-100 mx-auto my-1 border-0;
}
.stylenav-midnight {
  @apply h-px w-[30px] inline-block bg-midnight group-hover:w-[50%] group-hover:brightness-150 group-hover:contrast-150 group-hover:shadow-[0_0_5px_var(--color-midnight-80)] transition-all duration-[0.3s] ease-[ease-out] brightness-100 contrast-100 mx-auto my-1 border-0;
}

.sbm-section {
  @apply flex justify-between items-center gap-8 md:gap-4 px-8 md:px-12 xl:px-47;
}
.sbm-h-section {
  @apply flex flex-col justify-between items-center gap-8 md:gap-4 px-8 md:px-12 xl:px-47;
}

#horizontal-sliders {
  @apply flex flex-nowrap w-[2500px] overflow-x-hidden justify-between items-center;
}

.text-10xl {
  font-size: var(--text-10xl);
  line-height: var(--tw-leading, 10vw);
}

/* Brands animation */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.scroller {
  /* maschera gradiente per sfumare i bordi */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
}

@layer utilities {
  .animate-scroll-left {
    animation: scroll-left 60s linear infinite;
  }
  .animate-scroll-right {
    animation: scroll-right 60s linear infinite;
  }
  .paused {
    animation-play-state: paused;
  }
}

.word-wrapper {
  display: inline-block !important; /* Usiamo !important per massima priorità iniziale */
  white-space: nowrap !important; /* Usiamo !important per massima priorità iniziale */
}

/* Nasconde messaggi di redirect di Astro */
[data-astro-transition-scope] {
  color: white !important;
}

.astro-redirect-message,
[data-astro-redirect] {
  color: white !important;
  opacity: 0 !important;
}
