---
// import main layout
import Layout from "../../layouts/Layout.astro";
// import images
import { Image } from "astro:assets";
import HeroImg from "../../assets/images/slide@1920.webp";
---

<Layout title="SBM - your health partner">
  <main class="flex flex-col flex-grow items-center w-full h-full">
    <section
      id="hero"
      class="flex-1 mt-[100px] px-8 md:px-12 lg:px-24 w-screen"
    >
      <Image src={HeroImg} alt="Hero sbm" format="avif" quality={"mid"} />
      <h1 class="text-purple text-2xl">Sbm - your health partner</h1>
    </section>
    <section
      id="intro"
      class="flex-1 mt-[100px] px-8 md:px-12 lg:px-24 border border-green-600 w-screen"
    >
      <p class="text-6xl text-(--color-midnight)">
        SBM is a leading company in healthcare technologies, with over 20 years
        of experience we are alongside doctors, researchers and operators in the
        sector.<br />
        We offer innovative solutions to improve the quality of life of patients
        and optimize the work of those who take care of their health.<br />
        This is SBM, your next health partner.
      </p>
    </section>
    <section
      id="news"
      class="flex-1 mt-[100px] px-8 md:px-12 lg:px-24 border border-red-600 w-screen"
    >
      <p>News text</p>
    </section>
  </main>
</Layout>
