---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="SBM - Area Riservata">
  <div class="flex items-center justify-center h-screen">
    <h1 class="text-3xl text-purple-800">Area Riservata</h1>
  </div>
</Layout>
