---
// import main layout
import Layout from "../../layouts/Layout.astro";

//import components
import Hero from "../../components/pages/home/Hero.astro";
import Intro from "../../components/pages/home/Intro.astro";
import News from "../../components/pages/home/News.astro";
import Slogan from "../../components/utils/Slogan.astro";

// import tailwind styles
import "../../styles/global.css";
---

<!-- 
<Layout title="SBM - your health partner">
  <main class="flex flex-col flex-grow items-center w-full h-full">
    <Hero />
    <Intro />
    <News />
    <div class="sbm-section w-screen flex flex-col  text-midnight">
      <Slogan />
    </div>
  </main>
</Layout>
-->

<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SBM SRL</title>
</head>

<body>
  <div class="wrapper flex flex-col items-center justify-center">
    <p>Presto online.....</p>
  </div>
</body>

</html>