---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="SBM - About Us">
  <div class="flex items-center justify-center h-screen">
    <h1 class="text-3xl text-purple-800">About Us</h1>
  </div>
</Layout>
