---
// import header components
import MainMenu from "./MainMenu.astro";
// import utils components
import LanguagePicker from "../utils/LanguagePicker.astro";
---

<nav class="hidden lg:flex-1 lg:flex items-center h-[60px] text-xl">
  <ul class="md:flex md:flex-1 justify-around border border-red-400">
    <MainMenu />
    <LanguagePicker />
  </ul>
</nav>
