---
// import utils components
import LanguagePicker from "../utils/LanguagePicker.astro";
---

<div class="flex justify-between items-end gap-8 md:gap-4 px-0 md:px-1 xl:px-10 2xl:px-15 fixed z-100 bg-white text-midnight w-full h-[40px]">
    <div></div>
    <div class="flex"><LanguagePicker /></div>
</div>
