---
// import utils components
import LanguagePicker from "../utils/LanguagePicker.astro";
---

<div class="sbm-section fixed z-100 bg-white text-midnight w-full h-[40px]">
    <div></div>
    <div class="flex"><LanguagePicker /></div>
</div>
