---
// import header components
import MainMenu from "./MainMenu.astro";
// import utils components
import LanguagePicker from "../utils/LanguagePicker.astro";
---

<div
    class="fixed z-100 bg-white text-midnight flex justify-between items-center gap-8 px-8
md:gap-4 xl:px-47 w-full h-[40px]"
>
    <div></div>
    <div class="flex"><LanguagePicker /></div>
</div>
