---
---

<!-- Sbm Hamburger Menu -->
<div id="sbm-menu" class="lg:hidden flex justify-center">
    <button class="group border-[2px] border-purple-400 w-[60px] h-[60px]" aria-pressed="false" onclick="this.setAttribute('aria-pressed', !(this.getAttribute('aria-pressed') === 'true'))">
        <div class="justify-items-center gap-2.5 grid">
            <span 
                class="bg-(--color-midnight) group-hover:shadow-[0_0_5px_var(--color-midnight)] group-hover:brightness-[1.5] rounded-full w-[30px] group-[[aria-pressed=true]]:w-[42px] h-[2px] group-[[aria-pressed=true]]:rotate-45 transition-all group-[[aria-pressed=true]]:translate-y-[12px] duration-600">
            </span>
            <span 
                class="bg-(--color-midnight) group-hover:shadow-[0_0_5px_var(--color-midnight)] group-hover:brightness-[1.5] rounded-full w-[30px] h-[2px] group-[[aria-pressed=true]]:scale-x-0 transition-all duration-300">
            </span>
            <span 
                class="bg-(--color-midnight) group-hover:shadow-[0_0_5px_var(--color-midnight)] group-hover:brightness-[1.5] rounded-full w-[30px] group-[[aria-pressed=true]]:w-[42px] h-[2px] group-[[aria-pressed=true]]:-rotate-45 transition-all group-[[aria-pressed=true]]:-translate-y-[12px] duration-600">
            </span>
        </div>
    </button>
</div>
<!-- End Sbm Hamburger Menu -->