---
import { languages } from "../i18n/ui.ts";
const currentPath = Astro.url.pathname.replace(/^\/[a-z]{2}/, "");
---

{
  Object.entries(languages).map(([lang, label]) => (
    <li class="border border-yellow-500">
      <a href={`/${lang}${currentPath}`}>{label}</a>
    </li>
  ))
}
