---
// import images
import { Image } from "astro:assets";
import HeroImg from "../../../assets/images/slide_1.webp";
---

<section
    id="hero"
    class="-z-100 relative flex-1 mt-[120px] w-screen
            px-8 md:px-12 lg:px-47"
>
    <Image
        src={HeroImg}
        alt="Hero sbm"
        format="avif"
        quality={"mid"}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${HeroImg.width}px`}
    />
    <h1
        class="absolute text-midnight
                text-[38px] md:text-[96px] lg:text-[84px] xl:text-[128px] 2xl:text-[200px]
                top-5 md:top-8 lg:top-8 xl:top-5 2xl:top-10
                left-19 md:left-26 lg:left-50 xl:left-64 2xl:left-84
                tracking-[2px] md:tracking-[5px] lg:tracking-[8px]
                leading-8 md:leading-19 lg:leading-17 xl:leading-28 2xl:leading-42"
    >
        <span class="block">&nbsp;your</span>
        <span class="block">&nbsp;&nbsp;&nbsp;&nbsp;health</span>
        <span class="block">partner</span>
    </h1>
</section>
