---
import Layout from "../../../layouts/Layout.astro";

import { useTranslations } from "../../../i18n/utils.ts";
const currentLang = Astro.currentLocale;
const tr = useTranslations(currentLang);
const layoutTitle = `SBM - ${tr("services.title")}`;
---

<Layout title={layoutTitle}>
  <div class="flex items-center justify-center h-screen">
    <h1 class="text-3xl text-purple-800">Services</h1>
  </div>
</Layout>
