---
import Layout from "../../../layouts/Layout.astro";

import { useTranslations } from "../../../i18n/utils.ts";
const currentLang = Astro.currentLocale;
const tr = useTranslations(currentLang);
// import components
import Slogan from "../../../components/utils/Slogan.astro";
import GoogleMap from '../../../components/pages/contacts/GoogleMap.astro';

const apiKey = import.meta.env.PUBLIC_Maps_KEY;
---

<Layout seoKey="contacts">

  <div class="sbm-section w-screen flex flex-col mt-[160px] text-midnight" id="about-us-wrapper">
    <div class="w-full py-8 text-3xl"> 
      <h1 class="text-5xl text-midnight text-center md:text-left">{tr("contact.title")}</h1>
    </div>
        <div class="w-full py-8 flex flex-row items-center justify-center text-xl gap-y-4 lg:gap-x-8 lg:items-start 2xl:text-3xl">
      <div class="w-full lg:w-1/2">
        <p class="py-2">{tr("contact.form.email")}</p>
        <p class="py-2">{tr("contact.phone")}</p>
        <p class="py-2">{tr("contact.address")}</p> 
      </div>
      <div class="w-full lg:w-1/2">
        <p class="py-2">info@sbmsrl.it</p>
        <p class="py-2">+39 0832.362995</p>
        <p class="py-2">{tr("company.address")}</p>
      </div>
    </div>
    <div class="w-full py-8 text-3xl"> 
      <h1 class="text-5xl text-midnight text-center md:text-left">{tr("contact.where")}</h1>
    </div>
    {apiKey ? (
      <div class="w-full h-[450px] lg:h-[600px] xl:h-[800px] my-4 border border-gray-300">
         <GoogleMap apiKey={apiKey} />
      </div>
    ) : (
      <div class="w-full text-center text-red-600 my-4">
        Impossibile caricare la mappa. Configurazione API Key mancante.
      </div>
    )}
    <Slogan />
  </div>
 
</Layout>
