---
// import images
import { Image } from "astro:assets";

import OfficialPartnerImage from "../../assets/images/official-partner.png";
// import languages
import { useTranslations } from "../../i18n/utils";
// import components
const currentLang = Astro.currentLocale;
const tr = useTranslations(currentLang);
---


<div class="w-full my-15 flex flex-col items-center justify-center">
    <p class="my-8 text-3xl text-center md:text-left" set:html={tr("partner.text").replace(/\n/g, '<br>')} />
    <Image src={OfficialPartnerImage} class=" mt-2 md:self-center" alt="SBM & Resorba" format="webp" quality={"mid"} min-width="350"/>
</div>